@use "./normalize.css";

$WHITE: #fff;

$BODY_COLOR: #1c1c1c;

html {
	font-size: 62.5%;
}

body {
	background-color: #1c1c1c;
	color: #fff;
	font-size: 1.6rem;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	background-color: #27282c;
}
