$TYPE_TEXT_COLOR: #fc6d6d;
$BODY_COLOR: #27282c;

.wrapper {
	display: inline-flex;

	.text {
		font-size: 6rem;
	}

	.list {
		color: $TYPE_TEXT_COLOR;
		font-size: 6rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 90px;
		line-height: 90px;

		li {
			position: relative;
			top: 0;
			animation: slide 4.5s steps(3) infinite;
			padding: 0 20px;
			text-shadow: 0 0 10px $TYPE_TEXT_COLOR;

			span {
				position: relative;

				&::after {
					content: "";
					width: 102%;
					height: 90px;
					position: absolute;
					left: 0;
					animation: typing 1.5s steps(10) infinite;
					background: $BODY_COLOR;
					border-left: 2px solid $TYPE_TEXT_COLOR;
				}
			}
		}
	}
}

@keyframes typing {
	100% {
		left: 100%;
		margin: 0 -35px 0 35px;
	}
}

@keyframes slide {
	100% {
		top: -270px;
	}
}
