$TYPE_TEXT_COLOR: #fc6d6d;
$BODY_COLOR: #27282c;

.wrapper {
	display: inline-flex;
	align-items: center;

	.firstText {
		font-size: 6rem;
	}

	.secTexts {
		margin: 0;
		list-style: none;
		height: 90px;
		line-height: 90px;
		overflow: hidden;

		.item {
			position: relative;
			top: 0;
			font-size: 6rem;
			color: $TYPE_TEXT_COLOR;
			padding: 0 20px;
			text-shadow: 0 0 10px $TYPE_TEXT_COLOR;
			animation: slide 6s steps(2) infinite;

			span {
				position: relative;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 90px;
					background-color: $BODY_COLOR;
					border-left: 2px solid $TYPE_TEXT_COLOR;
					animation: typing 1.5s steps(10) infinite alternate;
				}
			}
		}
	}
}

@keyframes typing {
	100% {
		left: 100%;
		margin: 0 -35px 0 35px;
	}
}

@keyframes slide {
	100% {
		top: -180px;
	}
}
